
.user{
    width: 20%;
    min-width: 175px;
    height: auto;
    max-height: 100%;
    position: relative;
    background-color: #0E415C;
    margin: 1em;
}
.profile-picture{
    width: 100%;
    height: 200px;
    object-fit: cover;
    z-index: 0;
}
.information{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.details{
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    margin-top: 0.5em;
    white-space: nowrap;
}

.tagline{
    font-size: 0.7em;
    margin-bottom: 0.7em;
    text-justify: center;
}
.last_seen{
    opacity: 0.5;
}


@media only screen and (max-width: 500px) {
    .user{
        width: 90%;
    }
  }

